body{
    height: 5000px;
}
h1{
    font-size: 70px;
    text-align: center;
    background-clip: border-box;
    /* background-image: linear-gradient(red, blue, green, purple, yellow); */
}
.images{
    display: flex;
    align-items: center;
    transition: 2s;
}
h2{
    font-size: 50px;
    color: red;
    text-align: center;
}
li{
    text-align: center;
    font-size: 30px;
    color: red;
}
iframe{
    display: flex;
    margin: 0 auto;
}